<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form action="/calculate" method="get">
    <input type="number" step="any" name="a" required>
    <select name="operation" required>
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" step="any" name="b" required>
    <button type="submit">Calculate</button>
</form>

<p th:if="${result != null}">
    Result: <span th:text="${result}"></span>
</p>

<p th:if="${errorMessage != null}">
    <span>Pamiętaj cholero nie dziel przez 0</span>
</p>

<p><a href="/">Back to Home</a></p>

</body>
</html>